In [123]:
import pandas as pd

In [124]:
df = pd.read_csv("adult.data.csv")
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [125]:
df.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [126]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [127]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [128]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
salary            0
dtype: int64

In [129]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

In [131]:
data=df['race'].value_counts()
race = pd.Series(data)
print(race)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

What is the average age of men?

In [133]:
man=df[df['sex']=='Male']
age=man['age'].mean()
print(f"The average age of men is {age:.2f}%")

The average age of men is 39.43%

What is the percentage of people who have a Bachelor's degree?

In [135]:
media=df[df['education']=='Bachelors'].shape[0] / df['education'].shape[0] *100
print(f"The percentage of people who have a Bachelors degree is {media:.2f}%")

The percentage of people who have a Bachelors degree is 16.45%

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [137]:
high_edc=df[df['education'].isin(['Bachelors','Masters','Doctorate'])]
slary=high_edc[high_edc['salary']=='>50K']
por=slary.shape[0]/high_edc.shape[0]*100
print(f"The percentage of people with advanced education is {por:.2f}%")

The percentage of people with advanced education is 46.54%

What percentage of people without advanced education make more than 50K?

In [138]:
lower_education=df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
more=lower_education[lower_education['salary']=='>50K']
porcen=more.shape[0] / lower_education.shape[0]*100
print(f"The percetage of people without advanced education who make more than 50K is: {porcen:.2f}%")

The percetage of people without advanced education who make more than 50K is: 17.37%

What is the minimum number of hours a person works per week?

In [140]:
mino=df['hours-per-week'].min()
print(f"The minimum number of hours a person works per wook is {mino:.2f} hours")

The minimum number of hours a person works per wook is 1.00 hours

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [142]:
hours=df[df['hours-per-week']==1]
slaro=hours[hours['salary']=='>50K']
count= slaro.shape[0]/hours.shape[0]*100
print(f"The percentage of people who work the minimum number of hours is: {count:.2f}%")

The percentage of people who work the minimum number of hours is: 10.00%

What country has the highest percentage of people that earn >50K and what is that percentage?

In [153]:
rich= df.loc[df['salary']== '>50K', 'native-country'].value_counts()
country_populacao = df['native-country'].value_counts()
rico_porpais=round(rich * 100 / country_populacao)
print(f"The name of the country who has the highest percentage of people is: {rico_porpais.idxmax()} com a porcentagem de {rico_porpais.max()}%")

The name of the country who has the highest percentage of people is: Iran com a porcentagem de 42.0%

Identify the most popular occupation for those who earn >50K in India.

In [143]:
india = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]
ab =india['occupation'].value_counts()
print("The most popular occupation for those who earn >50K in india is Prof-specialty")
print(ab)

The most popular occupation for those who earn >50K in india is Prof-specialty
occupation
Prof-specialty      25
Exec-managerial      8
Other-service        2
Tech-support         2
Transport-moving     1
Sales                1
Adm-clerical         1
Name: count, dtype: int64